[submodule "repos/TheNotes"]
	path = repos/TheNotes
	url = https://github.com/jadnohra/TheNotes
[submodule "repos/projects-pre-2015"]
	path = repos/projects-pre-2015
	url = https://github.com/jadnohra/projects-pre-2015
[submodule "repos/defdefqed"]
	path = repos/defdefqed
	url = https://github.com/jadnohra/defdefqed
[submodule "repos/77-neurons-project-perelman"]
	path = repos/77-neurons-project-perelman
	url = https://github.com/jadnohra/77-neurons-project-perelman.git
[submodule "repos/learn-rust"]
	path = repos/learn-rust
	url = git@github.com:jadnohra/learn-rust.git
